<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="API Test Suite">
    <!-- Listeners to integrate Allure Reporting -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <!-- Test section -->
    <test name="User API Tests">
        <classes>
            <class name="tests.UserTests"/>
        <!--  <methods>
            	<include name="getUser"/>
            </methods> -->
        </classes>
    </test>
</suite>
